       .price-card {
  overflow: hidden;
  background: $background;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);	
  &__header {
  position: relative;
         padding: 33px 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  &__popular-text{
  position: absolute;
  display:flex;
  align-items: center;
  justify-content: center;
  top: 25px;
  right: -30px;
  width: 140px;
  height: 25px;
  line-height: 25px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  background-color:#dc3f45;
  color: $text-color;
  transform: rotate(45deg);
  }
  &__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  color: $text-color;
  }
  &__after-title {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: $text-color;
  }
  &__options-list{
  margin-bottom: 39px;
  &-icon {
  display: inline-block;
  margin-right: 22px;
  height: 13px;
  width: 15px;
  color:$first-card-color;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png");
  &_blue{
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png");
  }
  &_orange{
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png");
        }
      }
  }
  &__price {
  @include price-box();
  background:$first-card-color;
  &_business{
  @include price-box();
  background:$second-card-color;
  }
  &_webshop{
  @include price-box();
  background: $third-card-color;
	}
   }
  &__description {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  padding:40px 26px;	
  color: $text-color;
  background: $background;
  }
  &__options-list-item {
  padding: 16px 22px;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color:$text-color;
  }
  &__options-list-item:nth-child(odd){
  background: #2A343880;
  }
  &__order-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 155px;
  height: 40px;
  border-radius: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  background:$first-card-color;		
  color: $text-color;
  border:none;
  cursor: pointer;
  }
  &__order-btn_business{
  background: $second-card-color;
  }
  &__order-btn_webshop{
  background: $third-card-color;
  }
  &__order-btn-wrraper{
  display:flex;
  align-items: center;
  justify-content: center;
}
}
